<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socialimprover.saldotuc.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.socialimprover.saldotuc.SaldoTucApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Saldotuc" >
        <activity
            android:name="com.socialimprover.saldotuc.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.socialimprover.saldotuc.ui.CardAddActivity"
            android:label="@string/title_activity_card_add"
            android:parentActivityName="com.socialimprover.saldotuc.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.socialimprover.saldotuc.ui.MainActivity" />
        </activity>
        <activity
            android:name="com.socialimprover.saldotuc.ui.CardUpdateActivity"
            android:label="@string/title_activity_card_update"
            android:parentActivityName="com.socialimprover.saldotuc.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.socialimprover.saldotuc.ui.MainActivity" />
        </activity>
        <activity
            android:name="com.socialimprover.saldotuc.ui.CardStatisticsActivity"
            android:label="@string/title_activity_card_statistics"
            android:parentActivityName="com.socialimprover.saldotuc.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.socialimprover.saldotuc.ui.MainActivity" />
        </activity>
        <activity
            android:name="com.socialimprover.saldotuc.ui.AgenciesActivity"
            android:label="@string/title_activity_agencies"
            android:parentActivityName="com.socialimprover.saldotuc.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.socialimprover.saldotuc.ui.MainActivity" />
        </activity>
        <activity
            android:name="com.socialimprover.saldotuc.ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.socialimprover.saldotuc.ui.AgenciesActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.socialimprover.saldotuc.ui.AgenciesActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.socialimprover.saldotuc.ui.AgencyActivity"
            android:label="@string/title_activity_agencies"
            android:parentActivityName="com.socialimprover.saldotuc.ui.AgenciesActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.socialimprover.saldotuc.ui.AgenciesActivity" />
        </activity>

        <receiver
            android:name="com.mixpanel.android.mpmetrics.InstallReferrerReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="0c7eedbdf74b2ac0ca43734647aea9bdbb2db6ad" />
    </application>

</manifest>
